html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    padding-top: 4rem;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

/* footer */
#myFooter {
    background-color: #3c3d41;
    color: white;
    margin-top: 45px;
    padding-top: 30px;
    flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
    .footer-copyright {
        background-color: #333333;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    .row {
        margin-bottom: 60px;
    }
    .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }
    .footer-copyright p {
        margin: 10px;
        color: #ccc;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    h5 {
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-top: 30px;
    }
    h2 {
        a{
            font-size: 50px;
            text-align: center;
            color: #fff;
        }
    }
    a {
        color: #d2d1d1;
        text-decoration: none;
        focus {
            text-decoration: none;
            color: white;
        }
    }
    .social-networks {
        a {
            font-size: 32px;
            color: #f9f9f9;
            padding: 10px;
            transition: 0.2s;
            hover {
                text-decoration: none;
            }
        }
    }
    .facebook:hover {
        color: #0077e2;
    }
    .google:hover {
        color: #ef1a1a;
    }
    .twitter:hover {
        color: #00aced;
    }
    .btn {
        color: white;
        background-color: #d84b6b;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
    }
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .card-body {
    padding: 2rem;
  }
}

.form-signin {
  width: 100%;
  .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  input {
    border-radius: 2rem;
  }
}
