<div class="container">
  <footer class="footer">
    <small>
      <%= raw t ".title" %>
    </small>
    <nav>
      <ul>
        <li><%= link_to t(".about"), help_path %></li>
        <li><%= link_to t(".contact"), contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>
